.header {
    width: 100%;
    padding: 30px 0px;
    z-index: 21;
    .container {
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        gap: 20px;


        .consultation {
            width: fit-content;
        }

        .logo {
            z-index: 21;
            width: 30px;
        }
        .logoCopy {
            z-index: 21;
            width: 30px;
            display: none;
        }
        .right {
            justify-content: flex-end;
            flex: 1;
            height: 100%;
            .search {
                height: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0px 0px 12px 0px rgba(30, 15, 15, 0.1);
                padding: 0px 20px;
                width: 300px;
                input {
                    width: 100%;
                    height: 100%;
                    /* border: 1px solid black; */
                }
                
                img {
                    width: 20px;
                    aspect-ratio: 1 / 1;
                    cursor: pointer;
                }
            }
        }

        .right, .rightBurger {
            .information {
                display: flex;
                gap: 40px;
                .delivery, .warranty {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    img {
                        width: 20px;
                        aspect-ratio: 1/1;
                    }
                }
            }
        }
        

        
        .left, .right {
            display: flex;
            align-items: center;
            gap: 40px;
        }
        @media (max-width: 1024px) {
            gap: 10px;
            .logoCopy {
                display: block;
            }
            .burger-button {
                display: flex;
            }
            .left {
                display: none;
            }
        }
        @media (max-width: 500px) {
            gap: 10px;
            .logo {
                display: none;
            }
            .burger-button {
                display: flex;
            }
            .left {
                .accordions {
                    display: none;
                }
            }
            .right {
                form {
                    .search {
                        width: fit-content;
                        padding: 0px;
                        box-shadow: none;
                        background: none;
                        input {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}